* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #ffe6ff;
  padding: 50px;
  text-align: left;
  font-size: 35px;
}
h2 {
  font-style: italic;
  color: rgb(153, 64, 79);
  font-size: 25px;
}
h4 {
  padding: 15px;
}
.flashy {
  color: black;
  font-style: italic;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 2px;
  padding: 2px;
  padding: 1px;
  height: 400px; /* Should be removed. Only for demonstration */
}
.column img {
  height: 320px;
  width: 500px;
  border-radius: 10px;
  margin-top: 15px;
}

.best {
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #ccccff;
  padding: 5%;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.rainbow-text span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 45px;
  text-shadow: 1px 1px 0px #a3a3a3;
  display: inline-block;
}
.footer {
  width: 100%;
  height: 120px;
  padding: 40px;
  text-align: center;
  font-size: 30px;
  color: #a3a3a3;
}
1`